<div id="filters">
  <div class="filter-container">
    <div class="in-container">
      <div class="left-arrow">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <div class="filter">
        <a href="/listings">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings?q=rooms">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=iconic-cities">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=mountains">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountains</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=castles">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=amazing-pools">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=camping">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=farms">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=arctic">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Arctic</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=beaches">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beaches</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/filters?q=others">
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
          <p>Others</p>
        </a>
      </div>
      <div class="right-arrow arrow-active">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="tax-switch-container">
    <div class="tax-switch">
      <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse" />
        <label class="form-check-label" for="flexSwitchCheckReverse">Display total with taxes</label>
      </div>
    </div>
  </div>
</div>